* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
}

#errorbtn{
    float: right;
}

.content{
    position : relative;
    height : 80%;
    width : 100%;
}
.subcontent{
    height : 100%;
}

.content-left{
    position : absolute;
    top :0%;
    left:0%;
    width:20%;
    height : 100%;
    border-right: 1px solid black;
}

.content-right {
    margin-left :20%;
    width: 60%;
    height: 100%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Style cho nội dung của popup */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
}

/* Style cho nút đóng popup */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }    

